@import '../scss/_Variables';


@import '../scss/_Root';

*, ::after, ::before {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

@import '../scss/_Typography';
@import '../scss/_Utilities';
